.vscode/
.history
logs
*.log
npm-debug.log*
.DS_Store
*.swp
yarn-error.log

coverage
node_modules
build
cache
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# i18n
*.mo

# visual code
*.code-workspace
