.checkbox-list-widget .checkbox-item {
    margin: 0.5rem 0;
}

.checkbox-list-widget fieldset.checkbox-group {
    border: none;
}

.checkbox-list-widget fieldset.checkbox-group legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
